@media only screen and (max-width: 600px) {
  body {
    font-size: 16px;
  }
  h1 {
    margin-bottom: 30px;
  }
  .container {
    width: 100%;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 15px;
  }
  .top-links {
    margin: 0 0 30px;
    ul {
      grid-template-columns: 1fr;
    }
  }
  #newsroom {
    margin: 30px 0;
  }
  header {
    padding: 15px;
    .container {
      grid-template-columns: 50px 1fr;
    }
    .nav {
      display: none;
    }
  }
  #breadcrumbs {
    display: none;
  }
  main {
    padding: 15px;
    #content {
      grid-template-columns: 1fr;
      grid-gap: 15px;
    }
  }
  #feedback {
    padding: 15px;
    .button {
      display: block;
      text-align: center;
    }
  }
  footer {
    padding: 15px;
  }
}
