table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  th {
    text-align: left;
    border-top: 2px solid #dddddd;
    border-bottom: 2px solid #dddddd;
    padding: 10px 0;
  }
  td {
    text-align: left;
    border-bottom: 1px solid #dddddd;
    padding: 10px 0;
  }
}
